@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    position:fixed;
    background-color: white !important;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    padding:20px 200px;
    display: flex;
    justify-content: space-between;
    align-items:center;

    .left {
        .logo {
            display:flex;
            align-items:center;
            text-decoration:none;
            font-size:20px;
            color: #00923F;
            font-weight:600;

            img {
                width:70px;
                margin-right:20px;
            }
        }
    }

    .right {
        .menu {
            display: flex;
            .menu_item {
                list-style:none;
                .menu_link {
                    color: rgba(0, 0, 0, .8);
                    padding:20px;
                    text-decoration: none;
                    cursor: pointer;
                    font-weight:400;

                    &:hover {
                        -webkit-transition:.3s;
                        transition: .3s;
                        background-color: rgba(0, 0, 0, .05);
                    }
                }
            }
        }
    }
}

section {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20px 200px;
    position: relative;

    .left {
        width:50%;
    }

    .right {
        width:50%;
    }

    > .sectionTitle {
        position: relative;
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 80px;
        &:after {
            content: "";
            position: absolute;
            top: 60px;
            left: 0;
            display: block;
            width: 100px;
            height: 5px;
            border-radius:20px;
            background: -webkit-linear-gradient(180deg, #00923F, #05f705);
        }
    }
}

#firstSection {
    height: calc(100vh - 100px);
    display: flex;
    align-items:center;

    .left {
        .title {
            width:600px;
            font-size:80px;
            font-weight: bold;
            margin-bottom:20px;
    
            span {
                font-size: 90px;
                background: -webkit-linear-gradient(270deg, #05f705, #00923F);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .subtitle {
            width:600px;
            font-size:24px;
            line-height: 1.5em;
            color: #00923F;
        }
    }

    .right {
        .mapaBrasil {
            margin-top: 100px;
            float: right;
            width:700px;
        }
    }
}

#noticiasQueimadas {
    padding-top:50px;
    // background-color: #E8EAEE;

    .noticiaCard {
        text-decoration: none;
        width: calc( (100%/2) - (50px/2) );
        margin-right: 50px;
        box-sizing:border-box;
        height: 200px;
        background-color: white;
        border-radius:20px;
        -webkit-box-shadow: 0px 12px 38px -16px rgba(0,0,0,0.67); 
        box-shadow: 0px 12px 38px -16px rgba(0,0,0,0.67);
        padding: 10px;
        
        &:nth-child(2n + 1) {
            margin-right: 0px !important;
        }

        display: inline-flex;
        flex-direction: row;
        margin-bottom:20px;

        .image {
            box-sizing:border-box;
            display: inline-flex;
            min-width: 250px !important;
            height: 100%;
            border-radius:20px;
            margin-right: 20px;
        }

        .info {
            display: inline-flex;
            flex-direction: column;
            padding:10px 10px;


            .title {
                font-size:20px;
                font-weight: 600;
                margin-bottom:10px;
                color: black;
            }

            .description {
                font-size:14px;
                color: rgba(0, 0, 0, .7);
                margin-bottom: 10px;
            }

            .footer {
                display: flex;
                align-items:center;
                justify-content: space-between;
                margin-top: auto;

                .author {
                    font-size: 12px;
                    font-weight: 900;
                    color: rgba(0, 0, 0, .4);
                }

                .date {
                    font-size: 12px;
                    font-weight: 900;
                    color: rgba(0, 0, 0, .4);
                }
            }
        }
    }
}

#statusQueimadas {
    padding-top:50px;

    .areasProtegidas {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    
    .divider {
        display: flex;
        justify-content: space-between;
        position: relative;

        .left {
            .sticky {
                box-sizing: border-box;
                position: -webkit-sticky;
                position: sticky;
                top: 60px;
                height: calc(100vh - 100px);
                display: flex;
                flex-direction: column;
                align-items:center;

                > * {
                    margin-top: 40px;
                }

                > table {
                    width: 50%;
                    td, tr {
                        padding: 5px !important;
                    }
                }
            }
        }
    
        .right {
        }

    }
}


table {
    box-sizing: border-box;
    border-collapse: collapse; 
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius:50%; 
    
    thead {
        tr {
            border-bottom: 1px solid rgba(0, 0, 0, .3);
            th {
                padding: 15px 15px;
                border-right: 1px solid rgba(0, 0, 0, .3);
                margin: 0;

                &:last-child {
                    border: none;
                }
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid rgba(0, 0, 0, .3);
            &:nth-child(even) {
                background-color: white;
            }

            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, .1);
            }

            td {
                width: 300px;
                padding: 15px 15px;
                margin: 0;
            }
        }
    }
}



